@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 6px; 
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #a855f7, #7e22ce);
  border-radius: 9999px;
}
